body {
  background: rgb(4, 5, 10);
  margin: 0;
  padding: 0;
}

:root {
  --light-color: #fff;
  --dark-color: #000;
}

h1,
h3 {
  color: var(--light-color);
  text-align: center;
  font-weight: 100;
  margin-bottom: 0.8rem;
  letter-spacing: 2rem;
  padding-left: 2rem;
}

a {
  color: var(--dark-color);
}

header {
  background: var(--dark-color);
  position: sticky;
  z-index: 100;
  top: 0;
  padding: 0.5rem 0;
  box-shadow: 0 0 30px 10px var(--dark-color);
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline {
  list-style: none;
  position: relative;
  padding: 20px 0 20px;
  width: 100%;
}

.timeline li {
  font-family: "Montserrat", sans-serif;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}

.timeline .panel {
  overflow-wrap: break-word;
  position: relative;
  width: 46%;
  border-radius: 10px;
  background: var(--light-color);
}

.timeline h5 {
  font-style: italic;
  margin: 0.1rem auto 0;
}

.timeline .info {
  padding: 0 20px 10px;
}

.timeline summary {
  display: block;
  user-select: none;
  user-zoom: pointer;
  outline: none;
  padding: 20px;
  margin-bottom: 0px;
  transition: all 0.2s cubic-bezier(0.2, 1, 0.3, 1);
  font-weight: 600;
}

.timeline summary:hover {
  cursor: pointer;
  background: var(--light-color);
  border-radius: 10px;
}

.timeline .panel[open] summary {
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.timeline iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* vertical timeline */
.timeline:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  background: var(--light-color);
}

/* dots */
.timeline li:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 18px;
  left: 50%;
  background: var(--light-color);
  margin-left: -6px;
  z-index: 10;
}

/* zig-zag entries */
.timeline li:nth-child(even) {
  justify-content: flex-end;
}
